@charset "utf-8";

/* 테두리에 곡선 설정하기
  border-radius: 50%;
  픽셀이 높을 수록 원형이 된다
  */
.box1 {
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 100px;
    float: left;
    border-radius: 30px;
    
}
.box2 {
    width: 200px;
    height: 200px;
    background-color: red;
    margin: 100px;
    float: left;
    border-radius: 50%;
}
/* 마진에서 아래 위는 중첩이 된다 */