@charset 'UTF-8';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
textarea{
    width: 150px;
    height: 60px;
}
header{
    width: 100%;
    height: 100px;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}
h1{
    text-align: center;
    font-size: 30px;
    
  
    color: white;
    

}
footer{
    width: 100%;
    height: 60px;
    color: white;
    background-color: green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login{
    width: 800px;
    margin: 0 auto;
    /* padding: 20px; */
    height: 100px;
    background-color: rgba(85, 1, 1, 0.133);
    border-radius: 5px;
}
.id{
    width: 800px;
    margin: 0 auto;
    /* padding: 20px; */
    height: 100px;
    background-color: rgba(85, 1, 1, 0.133);
    border-radius: 5px;
}

.pet{
    width: 800px;
    margin: 0 auto;
    /* padding: 20px; */
    height: 150px;
    background-color: rgba(85, 1, 1, 0.133);
    border-radius: 5px;
    margin-top: 20px;
    margin-bottom: 20px;
}

h2{
    padding: 20px;
    font-size: 20px;
}

.login{
    margin: 20px auto;
}
 label{
    padding-left: 20px;
    
}