@charset "utf-8";




article {
  width: 500px; 
  border: 1px solid black;
  padding: 50px;
  margin: 50px auto;
  box-sizing: border-box;

 

}


article svg path{
  fill: transparent;
  stroke-width: 2;
  stroke: red;

  /* 사라지고 / 선의 간격의 설정*/
  stroke-dasharray: 1420;
  
  /* 듬성듬성 */
  /* stroke-dasharray: 70; */

  /* 가시 영역에서 보이는 선의 시작위치를 지정 */
  stroke-dashoffset: -1420;

  /* transform background border-radius 
  속성을 따로 적을 필요가 없음 */
  transition: all 3s;
}
/* 다시 생기고 */
article:hover svg path{
  /* 기본 0부터 시작 */
  stroke-dashoffset: 0;
}