@charset "utf-8";




article {
  width: 500px; 
  border: 1px solid black;
  padding: 50px;
  margin: 50px auto;
  /* 510*505 */
  box-sizing: border-box;

  /* 510*607 상대적으로 크기가 큼 */
  /* box-sizing: content-box; */

}

/* article svg{
  width: 100%;
} */
article svg path{
  /* 기본은 완전 투명 */
  fill: transparent;
  stroke-width: 1;
  stroke: red;
}