@charset "utf-8";

/* css 초기화*/
/* 딱딱 배치가 가능하다. */
*{
    padding: 0px;
    margin: 0px;   

}

/* 숫자든 블릿이든 다 날린다. */
ul,ol{
    list-style: none;
}

/* 링크 걸린 밑줄 삭제 */
a{
    text-decoration: none;
}
article{
    border: 1px solid red;
}

ul,li{
    border: 1px solid blue;
    
}